@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  background-image: url('backgrnd.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family:monospace;
  color: aliceblue;
  font-size: large;
}

#header{
  color:beige;
  text-align: center;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 30px;
}

div.txt1{
  color:aqua;
  text-align: center;
  font-weight: 200;
  font-size: 25px;
}

div.txt2{
  color:aqua;
  text-align: center;
  font-weight: 100;
  font-size: 15px;
}

#aboutProject{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:azure;
  font-size: 14px;
}

div.content{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:azure;
  font-size: 14px;
  line-height: 24px;
}

div.subProjectTitle{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:azure;
  font-size: 20px;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  color: #7329f2;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 50px;

} 

#nytime{
    font-family: 'Orbitron', sans-serif;
  color: #f22987;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 50px;
 }
